.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.174363;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
}

@media (min-width: 767px) {
  .mySwiper .swiper-pagination {
    bottom: unset;
    top: 0; /* Ajuste essa propriedade para a posição vertical desejada */
  }

  .swiper-slide {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .mySwiper .swiper-pagination {
    width: 150px;

    bottom: 100px;
    left: 100px;
    top: auto;
  }

  span {
    width: 14px !important;
    height: 14px !important;
  }
}
